<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/responsif.css" type="text/css">
    <link rel="stylesheet" href="/static/css/shortcut.css" type="text/css">
    <link rel="stylesheet" href="/static/css/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" type="text/css">

</head>
<body>

{{#if message}}
  <div class="alert alert-{{message.type}}" role="alert">
    {{message.message}}
  </div>
{{/if}}

<div class="container">
    <form action="/dashboard/movies" method="POST" enctype="multipart/form-data">
        <label class="drop-your-file">
            Drop your file
            <input type="file" class="inputFile" id="file" aria-label="file upload" name="image" onchange="handlePreview()">
        </label>
        <div id="preview-thumbnail"></div>
        <label>
            {{!-- <input type="text" name="genre" placeholder="Genre.."> --}}
            <select name="genre">
                <option value="1">Action</option>
            </select>
        </label>
        <label>
            <input type="text" name="name" placeholder="Movie name..">
        </label>
        <label>
            <input type="text" name="movieHour" placeholder="Movie hour..">
        </label>
        <label>
            <textarea name="content" cols="30" rows="10" placeholder="Movie content.."></textarea>
        </label>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <h2>All movie we have</h2>
    <ul class="list-parties d-flex-responsif">
        {{#each movies}}
            <li class="d-flex-vertical">
            <a href="/dashboard/movies/{{this.id}}">
                <div class="header d-flex-horizontal">
                <img src="/uploads/{{this.image}}" alt="">
                </div>
                <div class="about">
                <p class="text-center">{{this.movie_name}}</p>
                </div>
            </a>
            </li>
        {{/each}}
    </ul>
</div>

{{> footer}}

<script>
    function handlePreview() {
        const previewElement = document.getElementById("preview-thumbnail")
        const value = URL.createObjectURL(event.target.files[0])
        previewElement.innerHTML = `<img src=${value} style="width: 250px;" class="mb-3">`
    }
</script>