<div class="in-container__left">
    <div class="heading-container">
    <div class="logo"><a href="/">Cinematic</a></div>
    </div>
    <div class="main">
        <div class="section-one__main">
        <nav class="navbar">
            <p class="title_navbar">Menu</p>
            <ul>
                <li class="{{isBtnActive.home}}"><i class="fas fa-home"></i><a href="/"> Home</a></li>
                <li class="{{isBtnActive.favorite}}"><i class="fas fa-heart"></i><a href="/movies/fav">Favorite</a></li>
                <li class="{{isBtnActive.watchList}}"><i class="fas fa-th-list"></i><a href="/watchlist">Watchlist</a></li>
                <li class="{{isBtnActive.cart}}"><i class="fas fa-shopping-cart"></i><a href="/movies/cart">Cart</a></li>
            </ul>
            <br>
            <p class="title_navbar">Social</p>
            <ul>
                <li class="{{isBtnActive.friends}}"><i class="fas fa-user"></i><a href="/friends">Friends</a></li>
                <li class="{{isBtnActive.parties}}"><i class="fas fa-gift"></i><a href="/parties">Parties</a></li>
            </ul>
            <br>
            {{#if isLogin}}
                <p class="title_navbar">General</p>
                <ul>
                    <li class="{{isBtnActive.setting}}"><i class="fas fa-cog"></i><a href="/movies/setting">Setting</a></li>
                    <li><i class="fas fa-sign-out-alt"></i><a href="/logout">Log out</a></li>
                </ul>
            {{/if}}
        </nav>
        </div>
    </div>
</div>