{{> header}}

<div class="container">
    {{> sidebar}}
  
    <div class="in-container__right">
      {{> heading }}
      <div class="main">
  
        <div class="head-of-main">
          <p>Total price: {{finalPrice}}</p>
          <p>Amount: {{amount}}</p>
          <br>
          <div class="wrapper-card-ticket">
            {{#each infoTicket}}
              <div class="card-ticket">
                <h3 class="text-center">{{this.movie_name}}</h3>
                <br>
                <p><strong>Description</strong></p>
                <ul>
                  <li>{{this.movie_hour}}</li>
                  <li>{{this.date_show}}</li>
                  <li class="mt-l">Price: ${{this.price}}</li>
                </ul>
              </div>
            {{/each}}
            <br>
          </div>
          <form class="form-card" action="/movies/cart" method="POST">
            <label>
              <input type="text" name="userId" value="{{user.id}}" hidden>
            </label>
            <label>
              <input type="text" class="amount-cart" name="amount" value="{{amount}}" hidden>
            </label>
            <br>
            <label for="">
              <input type="text" class="subtotal-cart" name="subTotal" value="{{finalPrice}}" hidden>
            </label>
            <br>
            <button class="btn btn-submit" type="submit">Buy</button>
          </form>
        </div>
  
      </div>
    </div>
    <button class="btn-nav" onclick="openNav()">Nav</button>
</div>

<script src="/static/js/scMovie.js"></script>
<script>
  const parties = document.querySelector('.parties')
  setTimeout(function() {
    parties.classList.add('end-loader')
    parties.classList.remove('have-loader')
  }, 2000)
</script>
{{> footer}}